body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	padding-left:40px;
}


nav ul {
	list-style-type: none;
	padding: 0;
}

nav li {
	display: inline;
	vertical-align: middle;
}

nav li a:hover {
	color: #4169E1;
}

nav li a:hover {
	color: #228B22;
}

#filmfiguren {
	list-style-type: none;
	padding-top: 20px;
	padding-left: 0;
}

#filmfiguren li {
	border: 1px solid black;
	display: inline-block;
}

img {
	display: block;
	height:317px;
	width:214px;
}

#geenFilmfiguren {
	padding-top: 20px;
}

#filmfiguur{
	display: in-line-block;
}

dt {
    display: block;
}

dd {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

#filmsInMandje td, #filmsInMandje th {
    border: 1px solid #ddd;
    padding: 8px;
}

#filmsInMandje tr:nth-child(even){background-color: #f2f2f2;}

#filmsInMandje th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4169E1;
    color: white;
}

#filmsInMandje th:nth-child(1), #filmsInMandje td:nth-child(1) {
    width:300px;
}

#filmsInMandje th:nth-child(2), #filmsInMandje td:nth-child(2) {
    width:100px;
    text-align: center;
}

#filmsInMandje th:nth-child(3), #filmsInMandje td:nth-child(3) {
    width:100px;
    text-align: center;
}