body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

nav ul {
	padding: 0.4em 0;
}

nav li {
	display: inline;
	padding-left: 0.5em;
	vertical-align: middle;
}

nav li a:hover {
	color: #228B22;
}